body {
    margin: 0;
    padding: 0;
}

.experiment {
    float: left;
}
    .experiment__stage {
        box-shadow: 0 0 0 1px #000;
        overflow: hidden;
        position: relative;
    }

    .experiment__ui .ui-container--speed,
    .experiment__ui .ui-container--fps {
        display: inline-block;
    }

    .experiment__ui .ui-container--timeline {
        width: 100%;
    }
        .experiment__ui .ui-container--timeline > input[type=range] {
            width: 100%;
        }

.experiment--progressive-basic {

}
    .experiment--progressive-basic .experiment__stage__tile {
        float: left;
    }


.experiment--progressive-tweens {

}
    .experiment--progressive-tweens .experiment__stage__tile {
        float: left;
    }


.experiment--streaming-tweens__ui {
    
}
    .experiment--streaming-tweens .experiment__stage__ball {
        background-color: #F00;
        box-shadow: 0 0 15px #000 inset;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
    }


.experiment--tween-playground__ui {
    
}
    .experiment--tween-playground .experiment__stage__ball {
        background-color: #F00;
        box-shadow: 0 0 15px #000 inset;
        border-radius: 50%;
        position: absolute;
        transform: translateY(-50%) translateX(-50%);
    }


.experiment--stress-test {

}
    .experiment--stress-test .experiment__stage__tile {
        float: left;
    }


.experiment--adaptive-seeking {

}
    .experiment--adaptive-seeking .experiment__stage:after {
        background-color: #FFF;
        bottom: 0;
        content: "Seeking...";
        font-family: sans-serif;
        left: 0;
        line-height: 500px;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        transition: opacity .2s ease-out;
    }
    .experiment--adaptive-seeking .experiment__stage.is-seeking:after {
        opacity: .9;
    }
        .experiment--adaptive-seeking .experiment__stage__tile {
            float: left;
        }